.sidebar{
  position: absolute;
  height: 80vh;
  width: 20vw;
  margin-top: 20vh;
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0 0 2px 2px #eee;

  .via{
    text-align: center;


    .simple-tag{
      //text-align: left;
      margin: 5px 0;
      color: red;
      font-size: 12px;
    }

    img{
      display: inline-block;
      height: 100px;
      width: 100px;
      border: 1px solid #eee;
      border-radius: 100px;
    }
  }

  .sidebar-item{
    display: inline-block;
    width: 100%;
    padding: 5px 40px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &:hover{
      color: red;
    }
  }
}
