
.time{

  display: flex;

  .t-item{
    margin-right: 1px;
    width: 20px;
    height: 40px;
    background: red;
  }

  .s-item{
    background: aquamarine;
  }

  .alert-item{
    background: #ff4cdc;
  }
}