

.music-list{

  padding: 1rem;
  min-height: 10rem;
  text-align: center;

  .song-item{
    display: flex;
    padding: 0 1rem;
    line-height: 3.5em;
    border-top: 1px solid #eee;


    .song-name{
      font-size: 1.6rem;
    }

    .song-artists{
      margin-left: 1rem;

      .artist-item{
        color: #666;
        font-size: .8rem;
      }
    }
    .song-duration{
      margin-left: 1rem;
      font-size: .8rem;
    }

    .optGroup{
      margin: 0 2rem;
      flex-direction: column;
      justify-content: center;
    }
  }
}
