
.article-detail {

  .title {
    margin: 0 0 1rem 0;
    text-align: center;
  }

  .title-t {
    font-weight: bolder;
    font-size: 2rem;
  }
  .title-o{

    span{
      display: inline-block;
      margin: 0 1rem;
    }
  }

  .content {
    padding: 1rem;
  }

}

