
.article{

  //text-align: center;
  .title{
    font-size: 2rem;

    span{
      margin: 0 1rem;
    }

    .text{
      margin-left: 15rem;
    }
    .time,.tag{
      font-size: 1.2rem;
      color: red;
    }

  }

  .content{
    margin-top: 2rem;
    padding: 0 2rem;
    text-align: left;
    font-size: 1.6rem;

  }



  .ant-list{
    width: 84%;
    margin-left: 8%;
  }
  .ant-list-item:hover{
    transform: scale(1.05);
  }
}
