.contain{
  position: absolute;
  left: 20vw;
  top: 20vh;
  width: 78vw;
  height: 80vh;
  padding: 10px;
}




.layout-bg{
  position: fixed;
  width: 100%;
  height: 100%;

  canvas {
    display: block;
    vertical-align: bottom;
  }
  /* ---- particles.js container ---- */

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightgrey;

  }
}
